In [1]:
ls

000_test_merge_split_runs.ipynb
HISTORY.md
LICENSE
MANIFEST.in
Makefile
README.md
aguamenti/
aguamenti.egg-info/
conda_requirements.txt
docs/
requirements.txt
setup.cfg
setup.py*
ubuntu@ec2-34-222-22-42.us-west-2.compute.amazonaws.com/
ubuntu@shayanhoss-reflow2/

In [2]:
import pandas as pd

samples = pd.read_csv("/Users/shayan/reflow-batches/rnaseq/mus/test_run_TM/samples.csv", index_col=0)
print(samples.shape)
samples.head()

(17664, 6)

,read1,read2,name,genome,output,region
id,,,,,,
A1-MAA000398-3_9_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,A1-MAA000398-3_9_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000409-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,A1-MAA000409-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000487-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,A1-MAA000487-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000560-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,A1-MAA000560-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000564-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,s3://czb-maca/Plate_seq/3_month/170910_A00111_...,A1-MAA000564-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west

In [3]:
samples.groupby('name')

In [4]:
len(samples.groupby('name'))

8832

In [5]:
# for name, df in samples.groupby('name'):
#     print('---')
#     print(f'name: {name}, df.shape: {df.shape}')
#     print(df.read1)

In [6]:
for i, (name, df) in zip(range(2), samples.groupby('name')):
    print('---')
    print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    print(df)

---
i: 0, name: A1-MAA000398-3_9_M-1-1, df.shape: (2, 6)
                                                                    read1  \
id
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...

                                                                    read2  \
id
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...

                                          name      genome  \
id
A1-MAA000398-3_9_M-1-1  A1-MAA000398-3_9_M-1-1  mouse/vM19
A1-MAA000398-3_9_M-1-1  A1-MAA000398-3_9_M-1-1  mouse/vM19

                                                                   output  \
id
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/results_realigned
A1-MAA000398-3_9_M-1-1  s3://czb-maca/Plate_seq/3_month/results_realigned

                       region
id
A1-MAA000398-3_9_M-1-1   west
A1-MAA000398-3_9_M-1-1   west
---
i: 1, name: A1-MAA000409-3_10_M-1-1, df.shape: (2, 6)
                                                                     read1  \
id
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...

                                                                     read2  \
id
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/170910_A00111_...

                                            name      genome  \
id
A1-MAA000409-3_10_M-1-1  A1-MAA000409-3_10_M-1-1  mouse/vM19
A1-MAA000409-3_10_M-1-1  A1-MAA000409-3_10_M-1-1  mouse/vM19

                                                                    output  \
id
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/results_realigned
A1-MAA000409-3_10_M-1-1  s3://czb-maca/Plate_seq/3_month/results_realigned

                        region
id
A1-MAA000409-3_10_M-1-1   west
A1-MAA000409-3_10_M-1-1   west

In [7]:
for i, (name, df) in zip(range(2), samples.groupby('name')):
    print('---')
    print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    read1 = '|'.join(df.read1)
    print(read1)
    read2 = '|'.join(df.read2)
    print(read2)

---
i: 0, name: A1-MAA000398-3_9_M-1-1, df.shape: (2, 6)
s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz
s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz
---
i: 1, name: A1-MAA000409-3_10_M-1-1, df.shape: (2, 6)
s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz
s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz

In [8]:
# Columns whose contents we want to join
read_cols = 'read1', 'read2'

for i, (name, df) in zip(range(2), samples.groupby('name')):
    print('---')
    print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    for read_col in read_cols:
        joined_reads = '|'.join(df[read_col])
        print(f'read_col: {read_col}')
        print(f'\t{joined_reads}')

---
i: 0, name: A1-MAA000398-3_9_M-1-1, df.shape: (2, 6)
read_col: read1
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz
read_col: read2
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz
---
i: 1, name: A1-MAA000409-3_10_M-1-1, df.shape: (2, 6)
read_col: read1
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz
read_col: read2
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz

Now we eant to check all the remaining columns that they're the same across all samples

In [10]:
# Columns whose contents we want to join
read_cols = 'read1', 'read2'

for i, (name, df) in zip(range(2), samples.groupby('name')):
    print('---')
    print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    for col in df:
        print(f'col: {col}')
        if col in read_cols:
            joined_reads = '|'.join(df[col])
            print(f'\t{joined_reads}')
        else:
            assert len(df[col].unique()) == 1
            print(f"\tAll values in the column '{col}' are equal. yay!")

---
i: 0, name: A1-MAA000398-3_9_M-1-1, df.shape: (2, 6)
col: read1
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz
col: read2
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz
col: name
	All values in the column 'name' are equal. yay!
col: genome
	All values in the column 'genome' are equal. yay!
col: output
	All values in the column 'output' are equal. yay!
col: region
	All values in the column 'region' are equal. yay!
---
i: 1, name: A1-MAA000409-3_10_M-1-1, df.shape: (2, 6)
col: read1
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz
col: read2
	s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz
col: name
	All values in the column 'name' are equal. yay!
col: genome
	All values in the column 'genome' are equal. yay!
col: output
	All values in the column 'output' are equal. yay!
col: region
	All values in the column 'region' are equal. yay!

In [12]:
pd.options.display.max_colwidth = 1000

In [13]:
# Columns whose contents we want to join
READ_COLS = 'read1', 'read2'

def merge_split_runs(df, read_cols=READ_COLS):
    sample = pd.Series(index=df.columns)
#     print('---')
#     print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    for col in df:
#         print(f'col: {col}')
        if col in read_cols:
            joined_reads = '|'.join(df[col])
            sample[col] = joined_reads
#             print(f'\t{joined_reads}')
        else:
            col_unique = df[col].unique()
            assert len(col_unique) == 1
#             print(f"\tAll values in the column '{col}' are equal. yay!")
            
            # Take the first item in the list of length 1
            sample[col] = col_unique[0]           
            
    return sample
            
merged = samples.groupby('name').apply(merge_split_runs)
print(merged.shape)
merged.head()

(8832, 6)

,read1,read2,name,genome,output,region
name,,,,,,
A1-MAA000398-3_9_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R1_001.fastq.gz,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000398-3_9_M-1-1_R2_001.fastq.gz,A1-MAA000398-3_9_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000409-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R1_001.fastq.gz,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000409-3_10_M-1-1_R2_001.fastq.gz,A1-MAA000409-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000487-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000487-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000487-3_10_M-1-1_R1_001.fastq.gz,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000487-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000487-3_10_M-1-1_R2_001.fastq.gz,A1-MAA000487-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000560-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000560-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000560-3_10_M-1-1_R1_001.fastq.gz,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000560-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000560-3_10_M-1-1_R2_001.fastq.gz,A1-MAA000560-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west
A1-MAA000564-3_10_M-1-1,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000564-3_10_M-1-1_R1_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000564-3_10_M-1-1_R1_001.fastq.gz,s3://czb-maca/Plate_seq/3_month/170910_A00111_0053_BH2HGKDMXX/fastqs/A1-MAA000564-3_10_M-1-1_R2_001.fastq.gz|s3://czb-maca/Plate_seq/3_month/170910_A00111_0054_AH2HGWDMXX/fastqs/A1-MAA000564-3_10_M-1-1_R2_001.fastq.gz,A1-MAA000564-3_10_M-1-1,mouse/vM19,s3://czb-maca/Plate_seq/3_month/results_realigned,west

In [ ]:
# Columns whose contents we want to join
READ_COLS = 'read1', 'read2'

def merge_split_runs(df, read_cols=READ_COLS):
    sample = pd.Series(index=df.columns)
#     print('---')
#     print(f'i: {i}, name: {name}, df.shape: {df.shape}')
    for col in df:
#         print(f'col: {col}')
        if col in read_cols:
            joined_reads = '|'.join(df[col])
            sample[col] = joined_reads
#             print(f'\t{joined_reads}')
        else:
            col_unique = df[col].unique()
            assert len(col_unique) == 1
#             print(f"\tAll values in the column '{col}' are equal. yay!")
            
            # Take the first item in the list of length 1
            sample[col] = col_unique[0]           
            
    return sample
            
merged = samples.groupby('name').apply(merge_split_runs)
print(merged.shape)
merged.head()

In [33]:
 df.genome.unique()

array(['mouse/vM19'], dtype=object)

In [29]:
%timeit df.genome.unique()

87.7 µs ± 3.12 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [32]:
df.genome.nunique()

1

In [31]:
%timeit df.genome.nunique()

127 µs ± 7.33 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [35]:
len(df.genome.unique())

1

In [34]:
%timeit len(df.genome.unique())

87.4 µs ± 3.5 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)